.highlights {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-20);
}

@media (max-width: 475px) {
  .highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}