.conditions {
  background-color: #182024;
  margin-top: 20px;
}

.conditions_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
  color: #fff;
  padding: 0 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conditions-title {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.205em;
  mix-blend-mode: normal;
}

.conditions-description {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.065em;
}