.search-input {
  display: flex;
  position: relative;
  align-items: center;
}

.input-box {
  width: 358px;
  height: 31px;
  border: 1px solid #ccc;
  background-color: #C4C4C4;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}

.search-button {
  position: absolute;
  right: 2vh;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: none;
  background: #C4C4C4;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: calc(10px + 2vmin);
}

@media (max-width: 475px) {
  .search-input {
    display: none;
  }
}