.collection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 823px;
  border: 1px solid #4D4A4A;
  margin-top: 20px;
}

.collection .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.collection .collection_title {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.18em;
  color: #FFFFFF;
}

.collection .collection_description {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.18em;
  color: #FFFFFF;
}

.collection .collection_button {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.18em;
  color: #FFFFFF;
  border: 1px solid #212121;
  background: #212121;
  border-radius: 3px;
  padding: 10px;
  margin-top: 20px;
  width: 218px;
  height: 38px;
  cursor: pointer;
}

.collection img {
  width: 482px;
  height: 268px;
  padding: 10px;
}