.conditions {  
  background-color: var(--background-color-dark);
  padding: 20px 0;
  width: 100%;
}
.conditions .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 823px;
}

.conditions .container .conditions_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center; 
  color: var(--text-color);
  padding: 0 10px;
}

.conditions-title {
  font-family: var(--font-family-inika);
  font-style: normal;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-18);
  letter-spacing: 0.205em;
}

.conditions-description {
  font-family: var(--font-family-ibm-plex);
  font-style: normal;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-12);
  line-height: var(--line-height-17);
  text-align: center;
  letter-spacing: 0.065em;
}

@media screen and (max-width: 475px) {
  .conditions{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 415px;
  }
  
  .conditions .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conditions .container .conditions_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .conditions .container .conditions_content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 300px;
  }
  
  .conditions .container .conditions_content .conditions-description {
    font-family: var(--font-family-ibm-plex);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-12);
    line-height: var(--line-height-17);
    letter-spacing: 0.065em;
  }
}