.banner {
  display: flex;
  justify-content: center;
}

.dotItem {
  display: flex;
  position: absolute;
  top: 418px;
  margin: 0 5px;
}

.dotItem li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px #fff;
  margin: 0 3px;
  cursor: pointer;
}

.dotItem li.active {
  background-color: #A672A2;
  border: solid 1px #fff;
}