.header {
  display: flex;
  justify-content: center !important;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color);
  z-index: 999;
  padding: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}