.footer {
  display: flex;
  flex-direction: column;
  width: clamp(400px, 823px, 1200px);
}

.footer-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px #858585;
  border-bottom: solid 1px #858585;
  padding: 10px 20px;
}

.footer-up-left {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.footer-up-middle {
  display: flex;
  flex-direction: column;
}

.footer-up-item-middle{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px 2px;
  margin-top: 5px;
}

.footer-up-right {
  display: flex;
  flex-direction: column;
}

.footer-up-item {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  
  margin-top: 5px;
}

.footer-title {
  display: flex;
  align-items: left;
  font-size: 15px;
  text-align: left;
  font-family: 'Inika', serif;
  padding: 20px 0px 0px 0px;
  color: #FFF;
}


.operation {
  font-size: 9px;
  font-family: 'IBM Plex Sans', serif;
  color: #BEBEBE;
  margin-top: 3px;
}

.footer-up-social {
  display: flex;
  flex-direction: row;
  padding: 0px;
  list-style: none;
  font-size: 20px;
}

.footer-up-social a {
  color: #FFF;  
  padding-right: 10px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: 12px;
  text-align: center;
  font-family: 'Tiro Devanagari Hindi', serif;
  padding: 20px 20px;
  color: #FFF;
  margin: 0 auto;
}

