.categories {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 823px;
}

.categories .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 475px) {
  .categories {
    display: flex;
    justify-content: center;
    width: 415px;
    margin-top: 10px;
  }
  .categories .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}