@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400&family=Inika&family=Jockey+One&display=swap');
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

